Source: settingsd
Maintainer: Andrey Shatokhin <shatokhin@etersoft.ru>
Section: python
Priority: optional
Build-Depends: debhelper(>= 8),python3-all (>= 2.6.6-3~),dh-systemd
Standards-Version: 3.9.5

Package: settingsd
Architecture: all
Depends: systemd , python3-psutil, python3-gi ,python3-pyinotify, python3-pyroute2, python3-yaml, python3-jinja2 ,python3-cryptography,nftables,postfix
Description: Settingsd test .deb package 
