[Unit]
Description=Settingsd-server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 -u /home/drweb/settingsd/settingsd-server.py
WorkingDirectory=/home/drweb/settingsd
Restart=always
RestartSec=20
Environment=PYTHONPATH=vendor
KillSignal=SIGINT
[Install]
WantedBy=multi-user.target
